logs
*.log
npm-debug.log*
build/Release
node_modules/
lib
typings/
.npm
.eslintcache
.node_repl_history
*.tgz
.env
dest-path
prova
desktop.ini
sessff/client/.gitignore
sessff/client/babel.config.js
sessff/client/package-lock.json
sessff/client/package.json
sessff/client/README.md
sessff/client/public/favicon.ico
sessff/client/public/index.html
sessff/client/src/App.vue
sessff/client/src/main.js
sessff/client/src/assets/logo.png
sessff/client/src/components/HelloWorld.vue
